<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>책 추가</title>
</head>
<body>
<h1>책 추가 페이지</h1>
<form th:action method="post">
  <div>
    <label>제목: </label>
    <input type="text" name="title" placeholder="첵 제목을 입력하세요"/>
  </div>
  <div>
    <label>작가: </label>
    <input type="text" name="author" placeholder="작가 이름을 입력하세요"/>
  </div>
  <div>
    <label>가격: </label>
    <input type="number" name="price" placeholder="가격을 입력하세요"/>
  </div>
  <div>
    <label>수량: </label>
    <input type="number" name="quantity" placeholder="수량을 입력하세요"/>
  </div>
  <button type="submit" value="추가하기">추가하기</button>
</form>
</body>
</html>