<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
  <title>Please Log In</title>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h1>로그인 하세요.</h1>
    <div th:if="${param.error}">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}">
      You have been logged out.
    </div>
    <form th:action method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="아이디 입력"/>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="패스워드 입력"/>
      </div>
      <button type="submit">로그인</button>
    </form>

  </div>
</div>
</body>
</html>