<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
  <title>Book List</title>
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>도서 목록</h2>
  </div>
</div>
<div class="row" th:if="${role}">
  <div class="col">
    <button class="btn btn-primary float-end"
            onclick="location.href='addBook.html'"
            th:onclick="|location.href='@{/books/add}'|"
            type="button">도서 등록
    </button>
  </div>
</div>
<hr class="my-4">
<div>
  <table class="table">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작가</th>
      <th>가격</th>
      <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td>
        <a href="book.html" th:href="@{/books/{bookId}(bookId=${book.id})}" th:text="${book.id}">Book Id</a>
      </td>
      <td>
        <a href="book.html" th:href="@{/books/{bookId}(bookId=${book.title})}" th:text="${book.title}">Book Title</a>
      </td>
      <td th:text="${book.author}">Book Author</td>
      <td th:text="${book.price}">1000</td>
      <td th:text="${book.quantity}">20</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>